/* celular */
@media (max-width: 749px) {

    .desktop-navbar{
        display: none;
    }
    .habilidade>div{
        margin: 30px 0px;
    }

     .texto_maior{
        font-family: 'pixelFontB',sans-serif;
        display: block;
        font-size: 50px;
    }

    h3{
        font-size: 17px;
    }

    .avatar-mobile{
        margin: 0 auto;
        height: 15rem;
        position: relative;
    }

    .avatar-pc{
        display: none;
    }

    .apresentacao{
        display: block;
        align-self: auto;
        padding: 60px;
        margin: auto;
        font-size: 20px;
        margin: auto auto;
        text-align: center;
    }

    .links_externos{
        display: block;
        text-align: center; 
        margin: 0 auto;
    }

    .btn_externo{
        margin: 20px auto;
    }
    
    .desktop-arrow-left{
        display: none;
    }

    .mobile-arrow-left,
    .arrow-right {
        background-color: #D2A27A;
        padding: 10px;
        font-size: 20px;
        width: 40px;
        color: #F8E1CF;
        transition: all 600ms ease-in-out;
        cursor: pointer;
        border: none;
        text-align: center;
        margin: 10px auto;
        border-radius: 10px;
    }

  .arrow-controls{
    text-align: center;
  }
}

/* pc */
@media (min-width: 750px) {
    .texto_maior{
        font-family: 'pixelFontB',sans-serif;
        display: block;
        font-size: 80px;
    }

    h3{
        font-size: 20px;
    }

    .avatar-pc{
        display: block;
        margin: auto;
        height: 30rem;
        position: relative;
        animation: 2.1s linear 0s infinite alternate-reverse none running avatar;
    }

    
    .avatar-mobile{
        display: none;
    }

    .apresentacao{
        display: flex;
        align-self: auto;
        padding: 60px;
        margin: auto;
        font-size: 20px;
        margin: auto auto;
    }

    .links_externos{
        display: flex;
        gap: 1rem;
        margin: 20px 0;
    }

    .mobile-arrow-left{
        display: none;
    }

    .desktop-arrow-left,
  .arrow-right {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, #763F21 200%);
    opacity: 0.1;
    cursor: pointer;
    border: none;
  }
  
  .desktop-arrow-left:hover,
  .arrow-right:hover {
    opacity: 1;
  }
  
  .arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, #763F21 200%);
  }

  .desktop-navbar{
    background-color: #763F21;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    color: #F8E1CF;
    font-family: 'pixelFontB',sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2; 
    }
    .desktop-navbar>ul{
        display: flex;
        list-style: none;
        gap: 2rem;
        text-align: end;
        align-items: end;
    }


    .desktop-navbar>ul>li>a:hover{
        color: #D2A27A;
}
}

/* geral */

.btn_externo{
    font-family: 'pixelFontB',sans-serif;
    font-size: 40px;
    text-decoration: none;
    background-color: #763F21;
    border-radius: 10px;
    width: fit-content;
    padding:15px;
    align-items: center;
    border-style: dashed;
    border-color:transparent;
    display: flex;
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: #D8C2A7;
    color: #763F21;
    font-family: Andale Mono, monospace;
}

h2{
    font-weight: normal;
}

.centralizacao{
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
}

section{
    margin-top: 30px;
}

.cargo::after {
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: 0.7s ease 0s infinite normal none running ponteiro;
}

.texto_menor{
    font-family: 'pixelFontS',sans-serif;
}



a{
    text-decoration: none;
}

a:link {
    color: #F8E1CF;
}	

a:visited {
    color: #F8E1CF;
}

.links_externos>a:hover {
    background-color: #D2A27A;
    border-style: dashed;
    border-color: #763F21;
    box-sizing:border-box; 
}

.sobreMim{
    background-color: #D2A27A;
}


.centralizacao>.texto_maior{
    text-align: center;
    padding: 50px 0;
}

.experiencia_empresas{
    padding: 20px;
    border: #763F21;
    border-style: dashed;
}

  .container {
    position: relative;
    padding: 30px 0px;
    margin: 0 auto;
  }
  
  .gallery-wrapper {
    overflow-x: auto;
  }
  
  .gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
  }
  
  .item {
    width: 250px;
    height: 400px;
    padding: 10px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
  }
  
  .current-item {
    opacity: 1;
  }
  
  .gallery-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  .gallery-wrapper {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  


.certificacoes{

    background-color: #F8E1CF;
}

.certificado{
    background-color: #763F21;
    border-radius: 15px;
    color: #D2A27A;
    padding: 20px;
    font-weight: bold;  

    font-size: 16px;
}

.info_certificado{
    color: #F8E1CF;
    font-weight: bold;  
}

.certificado>.titulo{
    color: #F8E1CF;
    font-family: 'pixelFontS',sans-serif;
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px;
    font-weight: normal;  

}

.titulo-habilidade{
    font-size: 25px;
}

.habilidade{
    display: flex;
}

.habilidade>div>svg{
    max-width: 16rem;
}

.habilidade>div{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 35%;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px;
}

.contato{
    background-color: #D2A27A;
}
.contato>.centralizacao>h3{
    font-size: 30px ;
    font-family: 'pixelFontB',sans-serif;
    text-align: center;
}

.home{
    margin: auto 0;
}

.home-screen{
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #763F21;
    border-radius: 10px;
}

@keyframes ponteiro {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes avatar {
    0% {
        top: 15px;
    }
    
    100% {
        top: -15px;
    }
}

@font-face {
    font-family: 'pixelFontB';
    src: url('./fonts/pixels.ttf') format('truetype');
}

@font-face {
    font-family: 'pixelFontS';
    src: url('./fonts/Pixeled.ttf') format('truetype');
}